@{
    ViewData["Title"] = "Home";
    
}
<H1 class="fw-light" style="margin-top: 30px;">Kütüphaneye hoş geldin </H1>
<br>
<p class="fw-light">
    Kütüphanemizi görmek için 
    <a href="~/Home/Index">library</a> 
    tıklayın
</p>

<p class="fw-light">
    Kitap fiyatları için
    <a href="~/Home/Pricing">Pricing</a> 
    tıklayınız
</p>
<h2 class="fw-light">@ViewBag.clock</h2>
